/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */



@font-face{
	font-family: 'Fertigo_PRO';
	src: url('../fonts/Fertigo_PRO.eot');
	src: url('../fonts/Fertigo_PRO.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Fertigo_PRO.woff') format('woff'),
	     url('../fonts/Fertigo_PRO.ttf') format('truetype'),
	     url('../fonts/Fertigo_PRO.svg#webfont') format('svg');
}


/* declare variables */

    /*colours*/
        /* backgrounds*/
            $header_bg: blue;
            $main_bg: rgba(214, 234, 254, .9);
            $aside_bg: #1b1779;
            $nav_bg: darkblue;
            $footer_bg: rgba(109, 109, 109, 1);
            $envelope-bg:black;
            $address-bg:rgba(214, 234, 254, 1);

        /* text */
            $header_col: blue;
            $main_col: #1b1779;
            $aside_col: white;
            $nav_col: white;
            $footer_col: darkblue;
            $envelope-col: black;
            $address-col: black;

    /*sizes */
            $tablet: 760px;
            $phone: 450px;


/*universal classes */


li a{
    color:red;
    text-decoration: none;
}

li{margin-top:1em;
}


h1, h2, h3,{
    color: $header_col;
    text-shadow: 1px 1px 1px grey;
}

 body{
    font-family:  arial , sans-serif;
    font-size: medium;
    background-image: url(../img/ice_crystals.jpg);
    background-size: cover;
}

@media screen and (min-width: $phone){
    body{
        font-family:'Fertigo_PRO', arial;
   }
}




main{
    position: relative;
    max-width: 1000px;
    margin:  auto;
    color:$main_col ;
    background-color: $main_bg;
}


header{
    font-size: 8vw;
    font-weight: 800;
    text-shadow: .1em  .1em .1em grey;
    text-align: center;
    color:  $header_col;
}


@media screen and (min-width: $tablet){
    aside{
        position: relative;
        width: 20%;
        float: right;
        background-color: #1b1779 ;
        color: $aside-col;
        padding: .5em 1em;
        margin-top: 2vw;
        font-family: serif;
        font-size: medium;
        line-height: 1;
        border-radius: .7em 0 0 .7em;
    }
}

@media screen and (max-width: $tablet){
    aside{
        display: none;
    }
}


section{
    position: relative;
    width: 70%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 0;
    padding:0 .6em 0 .8em ;
    text-align: left;
    color: $main_col;
}

@media screen and (max-width: $tablet) {
        section{
            margin: auto;
            font-size: small;

        }
}



footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: $footer_bg;
    color: $footer_col;
    text-align: center;
    padding: .5em;
}



hr{
    color: 2px solid grey;
}

/* classes   */

.property{
    text-align: justify;
}

.google_language_widget{
  position: relative;
  float: right;
  top: -20px;
}

.rented{
    color: white;
    font-size: larger;
    background-color: #c90e0e;
    padding: .3em;
}

/* Divs */

#envelope{
    float:right;
    margin-top: .6em;
}

#address{
    font-size: medium;
    line-height: 1.5;
    position: relative;
    margin-top: 1em;
    margin:auto;
    padding: 0.1em 1em;
    background-color:$address-bg;
    color:  $address-col;
    border-radius: .5em;
}
